.title {
  font-size: 36pt;
  color: darkcyan;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 18pt;
  background-color: navajowhite;
  padding: 20px;
}

h1,
h2,
a {
  font-family: Arial, Helvetica, sans-serif;
  color: #ee3e80;
  margin: 5px;
}

p {
  text-align: center;
}

img {
  border-style: solid;
  border-width: 5px;
  background-size: contain;
}

#masaai {
  width: 600px;
  height: 400px;
  background-size: auto;
}

#comments {
  font-family: sans-serif;
  font-size: 12pt;
}

input[type="text"],
select,
textarea {
  display: flexbox;
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid purple; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}
/* Style the submit button with a specific background color etc */
input[type="submit"] {
  background-color: #ee3e80;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
/* When moving the mouse over the submit button, add a darker green color */
input[type="submit"]:hover {
  background-color: #4caf50;
}
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
